<!-- @BE where two buttons are available on a light background (the buttons themselves are dark), they must be these specific buttons in this order -->
<div class="button-wrap __light">
    <a href="#" class="button __dark">Gradient dark button</a>
    <a href="#" class="button __gradient-dark">Gradient dark button</a>
</div>