<!-- @BE where two buttons are available on a dark background (the buttons themselves are light), they must be these specific buttons in this order -->
<div class="button-wrap __light">
    <a href="#" class="button __light">Gradient dark button</a>
    <a href="#" class="button __gradient-light">Gradient dark button</a>
</div>