<nav class="breadcrumb" aria-label="Breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb-list">
                    {% for node in nodes %}
                    <li>
                        <a href="{{ node.url }}"{% if loop.last %} aria-current="{{node.name}}"{% endif %}>{{node.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>