{# 
Map Block

Fields:
 -- margin_top: Select
 #}
<div class="flexibleblocks-block" style='margin-top:{{ block.margin_top }};'>
    <section class="map">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--mapblock-->
                    <div class="mapblock" id="GooglemapLoad"></div>
                    <!--mapblock-->
                </div>
            </div>
        </div>
    </section>
</div>
<!-- flexible block -->
