{% if block.text_content %}
<!-- @BE we have one instance in this design of allowing the content to be left aligned (services landing page). I think we should make this available for all instances. Default is a centrally aligned block. With the modifier __left-align the block is shifted to the left. They would still have the option to set the alignment of the inner usercontent themselves via the WYSIWYG -->
<section class="textblock {% if block.left_align_content %}__left-align{% endif %}">
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-8 {% if block.left_align_content %}__left-align{% else %}mx-auto{% endif %}">
            <div class="usercontent">
                {{ block.text_content }}
            </div>
            {% if block.button and block.button_alignment %}
            <!--
            Available Button Modifiers
                __button-center
                __button-right
                __button-left (default)
             -->
            <div class="textblock-cta {{ block.button_alignment }}">
                <a href="{{ block.button.url }}" class="button __gradient-dark">{{ block.button.title }}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</section>
{% endif %}