{% extends "layouts/master.twig" %}

{% block content %}


    {% include 'banners/flex.twig' with {
        'banner_modifiers' : '__flex __listing __no-image',
        'banner_title' : fields.banner_title,
        'banner_text' : fields.banner_content,
        'show_svg' : 1,
    } %}

    <section class="listing">

        {% include 'components/filters.twig' %}

        <div class="listing-items">
            <div class="container">
                <div class="row">
                    {% for item in posts %}
                    <div class="col-md-6 col-xl-4">
                        {% include 'components/news_item.twig' %}
                    </div><!-- column -->
                    {% endfor %}
                </div><!-- row -->

                {% if posts|length < posts.found_posts %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-center justify-content-lg-end">
                        {% include 'components/pagination.twig' %}
                    </div><!-- column -->
                </div><!-- row -->
                {% endif %}


            </div><!-- container -->
        </div>
    </section>

{% endblock %}
