<!-- The '__progress' modifier below generates a progress bar (using JS) -->
<section class="posts-slider slider __progress">

    <div class="container position-relative">
        <div class="row posts-slider-header">
            <div class="col-12 col-xl-8">
                <h2 class="h1 posts-slider-title __block-title">Energy news</h2>
            </div><!-- column -->

            <div class="d-flex col-xxl-4 justify-content-xxl-end align-items-center posts-slider-controls">
                <div class="posts-slider-filters-wrap">
                    <ul class="posts-slider-filters">
                        <!-- @BE these buttons should update the content within the slider below. The current filter should use the __current class -->
                        <li>
                            <button class="filter-button __current">Homes</button>
                        </li>
                        <li>
                            <button class="filter-button">Business</button>
                        </li>
                        <li>
                            <button class="filter-button">Case studies</button>
                        </li>
                        <li>
                            <button class="filter-button">Energy saving</button>
                        </li>
                    </ul>
                    <!-- @BE this CTA is repeated below. See additional note -->
                    <a href="#" class="d-none d-lg-block view-all button __dark">View all</a>
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-11 pe-lg-3 pe-xl-5">
                <div class="slider-items">
                    <?php for ($i = 0; $i < 10; $i++) { ?>
                    <?php include($_SERVER['DOCUMENT_ROOT'] . '/structure/components/post-item.php'); ?>
                    <?php } ?>
                </div>
            </div>
            <!-- @BE this is the same button as used in the block filters section above, but we are placing it below the content on mobile -->
            <div class="col-12 d-lg-none">
                <a href="#" class="view-all button __dark">View all</a>
            </div>
        </div>
    </div>
</section>