<!--wrapper-->
<div class="wrapper">

    <!--header-->
    <header class="header">
        <div class="container">

            <div class="row position-relative">

                <div class="col-7 col-md-5 col-lg-3 col-xl-2">
                    {% if options.site_logo %}
                    <a href="/" class="header-logo">
                        <img src="{{ options.site_logo.url }}" alt="{{ options.site_logo.alt }}">
                    </a>
                    {% endif %}
                </div><!--col-->

                <div class="position-static col-5 col-md-7 col-lg-9 col-xl-10">
                    <div class="navcontainer">
                        {% include 'components/main_menu.twig' %}

                        <div class="header-opts">
                            {% if options.header_button %}
                            <div class="d-none d-lg-block">
                                <a href="{{ options.header_button.url }}" class="header-cta button __gradient-light">{{ options.header_button.title }}</a>
                            </div>
                            {% endif %}
                            <button class="burger">
                                <span class="burger-toggle"><span></span></span>
                                Toggle Menu
                            </button><!--burger-->
                        </div>
                    </div>
                </div>

            </div><!--row-->
        </div><!--container-->
    </header><!--header-->